.effect{
    background: rgba(65, 70, 117, 0.25);
    box-shadow: 0 8px 15px 0 #171725;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.effect-inchange{
    background: rgba(65, 70, 117, 0.25);
    box-shadow: 0 8px 15px 0 #1a1a3b;
    
}

.nav-list{
    border-right:rgb(255, 255, 255);
    list-style: none;
    margin-left: -50%;
    margin-top:200%;
}
.li{
   color:rgb(204, 197, 197);
}
.effect-nav{
        background: rgba(71, 75, 112, 0.25);
        box-shadow: 0 8px 15px 0 #515181;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        padding: 5% ;
        margin-top: 30%;
        margin-left: 15%;
}

.main-container{
    background-color:#262b4d;
    margin: 3%;
    padding: 3%;
    box-shadow: 0 8px 30px 0 #656ca8;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    color: rgb(194, 187, 187);
    display: flex;
}
.sub-div{
    display: flex;
}
.currency-icon{
    width: 150px;
    height: 150px;
}
.symbole-div{
    padding: 2%; 
    display: flex;
    margin: 2%;
}
.symbole-name{
    margin: 4%;
}
.small-img{
    width: 50px;
    height: 50px;
    margin-right: 2%;    
    border-radius: 50px;
}
.market-cap{
    padding: 2%;
    margin: 8%;

    text-align: center;
}
.market-icon{
    color: rgb(25, 133, 52);
}
.block{
    display: block;
}
.effect-price{
    background: rgba(71, 75, 112, 0.25);
    box-shadow: 0 8px 10px 0 #020313;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 5% ;
    margin-top: 30%;
    margin-left: 15%;
}
.last-price{
    /* margin: 2.5%; */
    margin: 2%;
}
.color{
    color: rgb(14, 2, 2);
    font-size: 15px;
}
.price{
    margin: 4%  5%;
    text-align: center;
}
.price-chng{
    margin-left: 6% ;
    color: rgb(8, 7, 7);
    
}
.search-div{
    padding: 2%;
    height: 510px;
    width: 27%;
    margin-left: 2%;
    text-align: center;
   
}
.search-input{
    padding: 5% 11%;
    background-color: #1d2244;
    color: rgb(180, 187, 194);
    border: none;
   
}
.scroll-effect{
    overflow: auto !important;
    height: 400px;
    
}

.enter-button{
    margin-left: 3%;
    padding: 4.2%;
}
.display-input{
    display: flex;
    margin-top: 10%;
    padding: 0% 4%;
    color: rgb(180, 187, 194);
    border: none;
}
.display-input>p{
    padding: 2%;
}
.effect-display{
    background: rgba(71, 75, 112, 0.25);
    box-shadow: 0 8px 10px 0 #0b0b25;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1px;
}
.effect-search{
    background: rgba(71, 75, 112, 0.25);
    box-shadow: 0 8px 10px 0 #0f112e;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
*::-webkit-scrollbar {
    width: 6px; 
 }

/* *::-webkit-scrollbar-track {

    background-color: rgb(27, 27, 61);
} */

*::-webkit-scrollbar-thumb {
  /* background:  rgb(27, 27, 61); */
  border-radius: 25px;
}